<nav style="background: #222; padding: 15px;">
    <ul style="list-style: none; display: flex; justify-content: center; gap: 20px;">
      <li><a href="/home" style="color: #fff;">Home</a></li>
      <li><a href="/about" style="color: #fff;">About</a></li>
      <li><a href="/projects" style="color: #fff;">Projects</a></li>
      <li><a href="/experience" style="color: #fff;">Experience</a></li>
      <li><a href="/links" style="color: #fff;">Links</a></li>
      <li><a href="/competitions" style="color: #fff;">Competitions</a></li>
      <li><a href="/hobbies" style="color: #fff;">Hobbies</a></li>
    </ul>
  </nav>
  